<div id="container">
  <div class="tb-w" style="margin: 0 auto; max-width: 95%;">
    <div id="filter" style="width: 100%; height: 50px;">
      <input class="search-input" placeholder="Search" type="text" (ngModelChange)="onSearch()" [(ngModel)]="value">
      <button mat-button>Thêm học viên</button>
    </div>
    <section class="table-wrapper" tabindex="0">
      <table mat-table [dataSource]="displayData">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; index as index"> {{index + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="msv">
          <th mat-header-cell *matHeaderCellDef> Mã học viên </th>
          <td mat-cell *matCellDef="let element"> {{element.msv}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Tên học viên </th>
          <td mat-cell *matCellDef="let element">
            <p>{{element.name}}</p>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Phân loại </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Ngày sinh </th>
          <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <div id="filter" style="width: 100%; height: 50px;">
      This's a foooter filter
    </div>
  </div>
</div>