:host {
  display: block;
}

#container {
  min-width: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  padding: 20px;
  width: 400px;
  height: fit-content;
  box-shadow: 1px 1px 9px 0px rgb(0 0 0 / 17%);
  border-radius: 10px;
  background-color: #f5f5f554;
}

.footer {
  margin-top: 20px;
}

.title {
  padding-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 30px;
}
